<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
    />
    <title>Register Page</title>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column">
          <img
            height="50"
            src="/images/3hoa.jpg"
            alt="Register"
            class="my-image"
          />
        </div>
        <div class="column">
          <h1 class="subtitle is-1">Register</h1>
          <% if (typeof errors != 'undefined') { %> <% errors.forEach(function
          (error){ %>
          <div class="notification is-warning is-light"><%= error.msg %></div>
          <% }); %> <% } %>

          <form method="post">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  class="input"
                  type="text"
                  placeholder="Username"
                  name="username"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  class="input"
                  type="password"
                  placeholder="Password"
                  name="password"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  class="input"
                  type="text"
                  placeholder="name"
                  name="name"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-success">Sign up</button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
